[Unit]
Description=A service to run the my web server

[Service]
Type=simple
WorkingDirectory=/opt/www/personal
ExecStart=/opt/www/personal/Scripts/start_server.sh %I
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=awillingham-webserver
User=root

[Install]
WantedBy=multi-user.target