@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@{
    ViewData["Title"] = "Armond Willingham";
}
<!DOCTYPE html>

<html lang="en">
    <script asp-append-version="true" src="~/js/bundles/bundle.js"></script>

    <head>
        <title>Armond Willingham</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex" /><link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="~/images/favicon.ico" />
        <link asp-append-version="true" rel="stylesheet" href="~/css/index.css" />
    </head>

    <body>
        <div id="root"></div>
    </body>

    <script type="text/javascript">
        window.InitApp();
    </script>
</html>